# IDE
.idea

*~
*#
.DS_STORE
.netbeans
nbproject
.idea

**/target/*
*.iml
/target/**
/out/*
target
SSLCertUtil_win
SSLCertUtil_win.zip
SSLCertUtil_win/**
SSLCertUtil_nix.zip
SSLCertUtil_nix
SSLCertUtil_nix/**
SSLCertUtil_mac
SSLCertUtil_mac.zip
SSLCertUtil_mac/**
